<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="#">
    <title>忘记密码-青梅煮酒</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/style-responsive.css" rel="stylesheet" />
    <script src="/static/js/jquery.js"></script>
</head>
    <body class="login-body">
        <div class="container">
          <form class="form-signin" action="#" method="post">
              {% csrf_token %}
            <h2 class="form-signin-heading">忘记密码-青梅煮酒</h2>
            <div class="login-wrap">
                {{ form.mobile }}
                {{ form.verfiy_code }}
                <a href="javascript:void(0);"><img id="captcha_img" src="#" onclick="get_captcha_img();" /></a>
                <button class="btn btn-lg btn-login btn-block" type="submit">下一步</button>
                <p class="msg"></p>
                {% if info.msg %}
                <div class="alert alert-block alert-danger fade in">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                      </button>
                      <strong>提醒!</strong> {{ info.msg }}
                </div>
                {% endif %}
            </div>
          </form>
        </div>
        <script>
            get_captcha_img();
            function get_captcha_img() {
                $.ajax({
                url: '{% url 'apis:pvcode' %}',
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    // 将数据生成图片
                    // todo
                    {#var pic = to_pic(data);#}
                    {#$('#captcha_img').attr('src', pic);#}
                    $('#captcha_img').attr('src', data);
                }
            });
            }
        </script>
    </body>
</html>