{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
{% include 'head.html' %}
</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="{% url 'index:index' %}">铁路商铺管理系统</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              {# <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd> #}
              <dd><a href=#>退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="/">
                    <i class="iconfont">&#xe696;</i>
                    <cite>首页</cite>
                </a>
            </li>
        </ul>
        <ul id="nav">
            <li>
                <a _href="{% url 'shop:shop_list' %}">
                    <i class="iconfont">&#xe722;</i>
                    <cite>门面管理</cite>
{#                    <i class="iconfont nav_right">&#xe697;</i>#}
                </a>
            </li>
            <li>
                <a _href="{% url 'contract:contract_list' %}">
                    <i class="iconfont">&#xe6a2;</i>
                    <cite>合同管理</cite>
{#                    <i class="iconfont nav_right">&#xe697;</i>#}
                </a>
            </li>
            <li>
                <a _href="{% url 'operator:operator_list' %}">
                    <i class="iconfont">&#xe82a;</i>
                    <cite>经营人</cite>
{#                    <i class="iconfont nav_right">&#xe697;</i>#}
                </a>
            </li>
            <li>
                <a _href="{% url 'rental:rental_list' %}">
                    <i class="iconfont">&#xe758;</i>
                    <cite>交租信息</cite>
{#                    <i class="iconfont nav_right">&#xe697;</i>#}
                </a>
            </li>
            <li>
                <a _href="{% url 'rental:rental_gather' %}">
                    <i class="iconfont">&#xe6bf;</i>
                    <cite>租金统计</cite>
{#                    <i class="iconfont nav_right">&#xe697;</i>#}
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>帐户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{% url 'account:profile' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>个人信息</cite>
                        </a>
                    </li>
                    {% if request.user.is_superuser %}
                    <li>
                        <a _href="{% url 'account:change_passwd' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>修改密码</cite>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a _href="{% url 'account:user_list' %}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite>
                        </a>
                    </li >
                    <li>
                        <a href={% url 'account:user_logout' %}>
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>退出</cite>
                        </a>
                    </li >
                </ul>
            </li>
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
{#    <div class="page-content-bg"></div>#}
{#    <!-- 右侧主体结束 -->#}
{#    <!-- 中部结束 -->#}
{#    <!-- 底部开始 -->#}
    <div class="footer">
        <div class="copyright">**行哲**</div>
    </div>
    <!-- 底部结束 -->

</body>
</html>