{% load staticfiles %}
<!DOCTYPE html>
<html>
  
  <head>
     {% include 'head.html' %}
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>商铺地址
              </label>
              <div class="layui-input-inline">
                <input type="text" id="L_shop_address" name="shop_address" class="layui-input" lay-verify="required" value="{% for shop in rental.contract.shop.all %}{{ shop.shop_address }}{% endfor %}" disabled>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>交费金额(元)
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_shop_address" name="shop_address" class="layui-input" lay-verify="required" value="{{ rental.pay_amount }}" disabled>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>交费日期
              </label>
              <div class="layui-input-inline">
                  <input class="layui-input" placeholder="交费日期" name="pay_date" id="pay_date" lay-verify="required" value="{{ rental.pay_date|date:"Y-m-d" }}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>缴费日志
              </label>
              <div class="layui-input-inline">
                  <textarea  class="layui-textarea" name="rental_mark">{{ rental.rental_mark }}</textarea>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  保存
              </button>
          </div>
        </form>
    </div>
    <script>
        layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#pay_date' //指定元素
        });

      });
      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;
        //监听提交
        form.on('submit(add)', function(data){
              //发异步，把数据提交给后端
            console.log(data);
             $.ajax({
                url : "{% url 'rental:rental_edit' rental.rental_id %}",
                type: 'POST',
                dataType: 'json',
                async: false,
                data: data.field,
           beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.code = 200) {
                        console.log("success");
                        layer.alert(data.msg, {icon: 6}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    }
                },
                error: function (data) {
                    if (data.code = 400) {
                        console.log("failed");
                        layer.alert(data.msg, {icon: 6}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                        });
                    }
                 }
             });
             return false;
        });
      });
  </script>

  </body>

</html>