{% load staticfiles %}
<!DOCTYPE html>
<html>
  
  <head>
    {% include 'head.html' %}
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>商铺地址
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_shop_address" name="shop_address" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>商铺类型
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_shop_type" name="shop_type" required="" lay-verify="shop_type"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item layui-form">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>商铺状态
              </label>
              <div class="layui-input-inline">
                  <input type="checkbox" name="switch"  lay-text="开启|停用"  checked="" lay-skin="switch">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>商铺是否存在
              </div>
          </div>
            var a=0;
            {% a+=1 %}
            <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  保存
              </button>
          </div>
      </form>
    </div>
    <script>
      layui.use(['form','layer'], function(){
          $ = layui.jquery;
        var form = layui.form
        ,layer = layui.layer;
        //监听提交
        form.on('submit(add)', function(data){
            $.ajax({
                url : "{% url 'shop:shop_add' %}",
                type: 'POST',
                dataType: 'json',
                async: false,
                data: data.field,
           beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    console.log("success");
                    if (data.code = 200) {
                        layer.alert(data.msg, {icon: 6}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    }
                },
                error: function (data) {
                    if (data.code = 400) {
                        console.log("failed");
                        layer.alert(data.msg, {icon: 6}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                        });
                    }
                }
            });
          return false;
        });
      });
  </script>

  </body>

</html>